* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #000; }

html {
  font-size: 14px;
  color: #000;
  cursor: url(../cursor.png), auto; }

body {
  height: 100vh;
  width: 100%; }

.header {
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40vh; }
  .header .header__name {
    font-size: 1.62rem;
    padding-top: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    width: 15rem;
    animation: show 4s steps(60, end); }
  .header .header__my-image {
    max-width: 190px;
    display: none; }
  .header .header__name:hover + img {
    display: block; }
@keyframes show {
  from {
    width: 0; } }
  .header .header__description {
    letter-spacing: 1.5px;
    padding-left: 1rem; }
  .header .header-box {
    width: 25%; }
    .header .header-box .circle-text {
      max-width: 300px;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-name: orbit;
      -webkit-animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: orbit;
      animation-duration: 10s; }
      .header .header-box .circle-text:hover {
        animation: orbit-dif 10s infinite linear; }
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes orbit-dif {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60vh;
  border-top: 1px solid #000; }
  .main .list-item {
    margin-left: 1.5rem;
    list-style: none; }
  .main .letter, .main .heading {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.8rem; }
  .main .main-box {
    width: 33.3%;
    height: 100%;
    font-size: 2.8rem; }
  .main .main-work {
    position: relative;
    transition: width 400ms;
    border-right: 1px solid #000; }
    .main .main-work .heading {
      display: block; }
    .main .main-work .work-hidden {
      display: none; }
  .main .main-work.is-active {
    width: 180%; }
    .main .main-work.is-active .letter {
      display: none; }
    .main .main-work.is-active .work-hidden {
      display: block;
      font-size: 1.5rem;
      width: 100%; }
      .main .main-work.is-active .work-hidden .heading {
        display: block; }
      .main .main-work.is-active .work-hidden .list-item {
        margin-bottom: 1.5rem; }
      .main .main-work.is-active .work-hidden .github-logo {
        width: 15px; }
  .main .main-bio {
    position: relative;
    transition: width 400ms;
    border-right: 1px solid #000; }
    .main .main-bio .heading {
      display: block; }
    .main .main-bio .bio-hidden {
      display: none; }
  .main .main-bio.is-active {
    width: 180%; }
    .main .main-bio.is-active .letter {
      display: none; }
    .main .main-bio.is-active .bio-hidden {
      display: block;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll; }
      .main .main-bio.is-active .bio-hidden::-webkit-scrollbar {
        width: 0px;
        background: transparent; }
      .main .main-bio.is-active .bio-hidden .heading {
        display: block; }
      .main .main-bio.is-active .bio-hidden .list-item {
        margin-bottom: .5rem;
        margin-right: 1.5rem; }
  .main .main-contact {
    transition: width 400ms; }
    .main .main-contact .letter {
      display: block; }
    .main .main-contact .contact-hidden {
      display: none; }
  .main .main-contact.is-active {
    width: 180%; }
    .main .main-contact.is-active .letter {
      display: none; }
    .main .main-contact.is-active .contact-hidden {
      display: block;
      font-size: 1.5rem; }
      .main .main-contact.is-active .contact-hidden .heading {
        display: block;
        font-size: 2.8rem; }
      .main .main-contact.is-active .contact-hidden .list-item {
        margin-bottom: .3rem; }
      .main .main-contact.is-active .contact-hidden .my-image {
        width: 150px;
        display: none; }
      .main .main-contact.is-active .contact-hidden .email:hover + img {
        display: block; }
    .main .main-contact.is-active .heading {
      display: none; }

@media screen and (max-width: 1440px) {
  .header__wrapper .header__box {
    width: 27%; } }
@media screen and (max-width: 500px) {
  .header {
    height: auto;
    flex-direction: column;
    align-items: center; }
    .header .header-box {
      text-align: center;
      width: 50%; }
      .header .header-box .circle-text {
        max-width: 200px;
        margin-left: 10%; }

  .main {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
    .main .main-work {
      border-right: none; }
    .main .main-work.is-active {
      width: 100%; }
    .main .main-bio {
      border-right: none; }
    .main .main-bio.is-active {
      width: 100%; }
    .main .main-contact.is-active {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
