* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  color: #000; }

html {
  font-size: 14px;
  color: #000; }

body {
  height: 100vh;
  width: 100%; }

.header__wrapper {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40vh; }
  .header__wrapper .header__name {
    font-size: 1.62rem; }
  .header__wrapper .header__box {
    width: 25%; }
    .header__wrapper .header__box .header__name {
      padding-top: 1rem;
      padding-left: 1rem; }
    .header__wrapper .header__box p {
      padding-left: 1rem; }
    .header__wrapper .header__box .header__circle-text {
      max-width: 300px;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-name: orbit;
      -webkit-animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: orbit;
      animation-duration: 10s; }
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes orbit {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.main__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60vh;
  border-top: 1px solid #000; }
  .main__wrapper .main__box {
    width: 33.3%;
    height: 100%;
    font-size: 2.8rem;
    cursor: pointer; }
    .main__wrapper .main__box h4 {
      padding: 1rem 1.5rem; }
  .main__wrapper #main__work {
    position: relative;
    transition: width 400ms;
    border-right: 1px solid #000; }
    .main__wrapper #main__work .work__heading {
      display: block; }
    .main__wrapper #main__work .main__work--hidden {
      display: none; }
  .main__wrapper #main__work.is-active {
    width: 180%; }
    .main__wrapper #main__work.is-active .work__heading {
      display: none; }
    .main__wrapper #main__work.is-active .main__work--hidden {
      display: block;
      font-size: 1.5rem; }
      .main__wrapper #main__work.is-active .main__work--hidden .work__heading--hidden {
        display: block;
        font-size: 2.8rem; }
      .main__wrapper #main__work.is-active .main__work--hidden li {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        list-style: none; }
  .main__wrapper #main__bio {
    position: relative;
    transition: width 400ms;
    border-right: 1px solid #000; }
    .main__wrapper #main__bio .bio__heading {
      display: block; }
    .main__wrapper #main__bio .main__bio--hidden {
      display: none; }
  .main__wrapper #main__bio.is-active {
    width: 180%; }
    .main__wrapper #main__bio.is-active .bio__heading {
      display: none; }
    .main__wrapper #main__bio.is-active .main__bio--hidden {
      display: block;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll; }
      .main__wrapper #main__bio.is-active .main__bio--hidden::-webkit-scrollbar {
        width: 0px;
        background: transparent; }
      .main__wrapper #main__bio.is-active .main__bio--hidden .bio__heading--hidden {
        display: block;
        font-size: 2.8rem; }
      .main__wrapper #main__bio.is-active .main__bio--hidden p {
        margin: 1rem 0 1.5rem 1.5rem; }
      .main__wrapper #main__bio.is-active .main__bio--hidden li {
        margin-left: 1.5rem;
        list-style: none; }
  .main__wrapper #main__contact {
    transition: width 400ms; }
    .main__wrapper #main__contact .contact__heading {
      display: block; }
    .main__wrapper #main__contact .main__contact--hidden {
      display: none; }
  .main__wrapper #main__contact.is-active {
    width: 180%; }
    .main__wrapper #main__contact.is-active .main__contact--hidden {
      display: block;
      font-size: 1.5rem; }
      .main__wrapper #main__contact.is-active .main__contact--hidden .contact__heading--hidden {
        display: block;
        font-size: 2.8rem; }
      .main__wrapper #main__contact.is-active .main__contact--hidden p {
        margin-left: 1.5rem; }
    .main__wrapper #main__contact.is-active .contact__heading {
      display: none; }

@media screen and (max-width: 1440px) {
  .header__wrapper .header__box {
    width: 27%; } }
@media screen and (max-width: 500px) {
  .header__wrapper {
    height: auto;
    flex-direction: column;
    align-items: center; }
    .header__wrapper .header__box {
      text-align: center;
      width: 50%; }
      .header__wrapper .header__box .header__box1 {
        margin-top: 1rem; }
      .header__wrapper .header__box .header__box2 {
        margin: 0; }
      .header__wrapper .header__box .header__circle-text {
        max-width: 200px;
        margin-left: 10%; }

  .main__wrapper {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
    .main__wrapper #main__work {
      border-right: none; }
    .main__wrapper #main__work.is-active {
      width: 100%; }
    .main__wrapper #main__bio {
      border-right: none; }
    .main__wrapper #main__bio.is-active {
      width: 100%; }
    .main__wrapper #main__contact.is-active {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
