@import 'vars';
@import 'mixins';
@include main;
html {
    font-size: 14px;
    cursor: url('../assets/images/cursor.png'), auto;
}
body {
    height: 100vh;
    width: 100%;
}
// Header
.header {
    font-size: 1rem;   
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    @media screen and(max-width: 768px) {
       flex-wrap: wrap;
       align-items: center;
       height: auto;
    }
    .header__name {
        font-size: 1.62rem;
        padding-top: 1rem;
        padding-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        width: 15rem;
        animation: show 4s steps(60, end); 
        @media screen and(max-width: 768px) {
            width: 100%;
        } 
    }   
    .header__my-image {
        max-width: 190px;
        display: none;
    }
    .header__name:hover + img { 
        display: block;
     } 
    @keyframes show { 
        from { 
            width: 0; 
        } 
      } 
    .header__description {
        letter-spacing: 1.5px;
        padding-left: 1rem;
    }
    .header-box--1 {
        flex-basis: 85%;
        max-width: 85%; 
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%; 
        } 
    }
    .header-box--2 {
        flex-basis: 15%;
        max-width: 15%;  
        overflow: hidden;
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%; 
        } 
    }
    .header-box {
        // flex-basis: 25%;
        // max-width: 25%;     
        .circle-text {
            max-width: 350px;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:linear;
            -webkit-animation-name:orbit;
            -webkit-animation-duration:10s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-name:orbit;
            animation-duration:10s;
            @media screen and(max-width: 768px) {
                max-width: 250px;
            } 
            
            &:hover {
                animation: orbit-dif 10s infinite linear;
            }
        }
      
        @-webkit-keyframes orbit { 
            from { -webkit-transform:rotate(0deg) } 
            to { -webkit-transform:rotate(360deg) } 
        }
        @keyframes orbit-dif { 
            from { transform:rotate(360deg) } 
            to { transform:rotate(0deg) } 
        }
    }   
}
// Main
.main {
    display: flex;
    justify-content: center;
    height: 60vh;
    border-top: 1px solid;
    @media screen and(max-width: 768px) {
        flex-wrap: wrap;
        height: auto;          
        justify-content: flex-start;
    } 
    .list-item {
        margin-left: 1.5rem;  
        list-style: none;
    }
    .letter, .heading {
        margin-left: 1.5rem;  
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 2.8rem;
    }
    .main-box {
        width: 33.3%;
        height: 100%;
        font-size: 2.8rem;
    }
    // Work
    .main-work {
        position: relative;
        transition: width 400ms;
        border-right: 1px solid;
        @media screen and(max-width: 768px) {
           border-right: none;
           flex-basis: 100%;
           max-width: 100%;
        } 
        .heading {
            display: block;
        }
          .work-hidden {
            display: none;              
        }         
    }
    .main-work.is-active {
        width: 180%;
        .letter {
          display: none;
        }   
        .work-hidden {
            display: block;
            font-size: 1.5rem;    
            width: 100%; 
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px;  
                background: transparent;  
            }       
            .heading {
                display: block;
            }
            .list-item {
                margin-bottom: 1.5rem;
                &:last-of-type {
                    margin-top: 3.5rem;
                }
            }
        
        }
    }
    // Bio
    .main-bio {
        position: relative;
        transition: width 400ms;
        border-right: 1px solid;
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%;
        } 
        .heading {
            display: block;
        }       
        .bio-hidden {
            display: none;
        }
    }
    .main-bio.is-active {
        width: 180%;  
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%;
        } 
        .letter {
            display: none;
        }
        .bio-hidden {
            display: block;
            font-size: 1.5rem;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px;  
                background: transparent;  
            }
            .heading {
                display: block;
               
            }
            .list-item {
                margin-bottom: 1rem;
                margin-right: 1.5rem;
                &:last-of-type {
                    margin-top: 3.5rem;
                }
            }
        }       
    }
    // Contact
    .main-contact {
        transition: width 400ms;
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%;
         } 
        .letter {
            display: block;
        }
        .contact-hidden {
            display: none;
        }
    }
    .main-contact.is-active {
        width: 180%;
        @media screen and(max-width: 768px) {
            flex-basis: 100%;
            max-width: 100%;
        } 
        .letter {
            display: none;
        }
        .contact-hidden {
            display: block;
            font-size: 1.5rem;
            .heading {
                display: block;
                font-size: 2.8rem;
            }
            .list-item {
                margin-bottom: .3rem;
            }
            .my-image {
                width: 150px;
                margin-left: 1.5rem;
                display: none;
            }
            .email:hover + img { 
                display: block;
             }
        }
        .heading {
            display: none;
        }
    }  
}
